body {
    background-color: #f0eeee;
    font-family: 'Quicksand', sans-serif;
    margin-top: 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    translate: 0 -72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 72px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    background: #6b63ff;
    transition: 0.3s;
}

nav.visible {
    translate: 0;
}

nav > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 40px;
}

.nav-items > a {
    text-decoration: none;
    color: #fff;
    height: 72px;
    display: grid;
    place-items: center;
}

.nav-items > a:hover {
    color: #fff;
}

.content {
    margin-left: 25%;
    margin-right: 25%;
}

.header {
    padding-top: 80px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    width: 350px;
    font-size: 48px;
    font-weight: 400;
}

.title {
    padding-top: 80px;
    font-size: 38px;
}

.text {
    padding-top: 10px;
    font-size: 20px;
}

.experience ul a{
    list-style-type: none;
    text-decoration: none;
    background-color: #e7e7e7;
    color: black;
    transition: background-color 0.5s ease;
}

.education ul a{
    list-style-type: none;
    text-decoration: none;
    background-color: #e7e7e7;
    color: black;
    transition: background-color 0.5s ease;
}

.experience ul a:hover {
    background-color: #00000017;
}

.education ul a:hover {
    background-color: #00000017;
}

#footer {
    translate: 0 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 86px;
    background: #6b63ff;
    color: #fff;
}

.rss {
    width: 121px;
    height: 45px;
    background-size: contain;
}

a {
    color: #fff;
    place-items: center;
}

hr {
    width: 100%;
}

#contact {
    background-color: #e7e7e7;
}

#skills {
    background-color: #e7e7e7;
}

#experience {
    background-color: #e7e7e7;
}

#languages {
    background-color: #e7e7e7;
}